.title-text-2 {
    font-size: 2rem;
}

.title-text-3 {
    font-size: 3rem;
}

.title-text-4 {
    font-size: 4rem;
}

.title-text-5 {
    font-size: 5rem;
}

.blue {
    color: #2a9fd6;
}

p.text-center {
    word-break: break-all;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/* vertical spacing between columns */

[class*="col-"] {
    margin-bottom: 5rem;
}

.content {
    height: 250px;
    padding: 2em 2em 1em;
}

.bg-border {
    border: 1px solid #2a9fd6;
    border-radius: 3px;
}

div.hov .full {
    display: none;
    transition: opacity 75ms linear;
    opacity: 0;
}

img.thumb,
img.gthumb {
    object-fit: contain;
    align-self: center;
    width: 250px;
    height: 200px;
}

div.hov:active .full {
    opacity: 1;
    display: inline;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: 85vh;
    max-width: 100%;
    height: 85vh;
    max-height: 100%;
    opacity: 1;
    z-index: 9001;
}

/* img.thumb {
    border: pink;
    border-style: dashed;
}
div.hov {
    border: red;
    border-style: dashed;
} */

@media (min-width: 900px) {
    img.thumb:hover {
        max-height: inherit;
        width: 100%;
    }
}

table {
    width: 100%;
}
td:first-child {
    width: 33%;
}
img.rthumb {
    padding: 5%;
    margin-right: 5%;
    width: 100%;
}
